@charset "UTF-8";
input, button {
  font-family: PingFangTC-Regular;
}

body {
  background-color: #373f27;
  font-size: 16px;
  color: #373f27;
  font-family: PingFangTC-Regular;
}

.flex {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container {
  margin: auto;
  width: 750px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.date-container {
  margin-bottom: 19px;
  font-size: 24px;
}

.date {
  font-size: 48px;
  color: #737B46;
}

@media (max-width: 768px) {
  .date {
    font-size: 24px;
  }
}

.input-container {
  border: 2px solid #737B46;
  border-radius: 4px;
  width: 100%;
  height: 48px;
}

.input-container .input {
  width: 100%;
  height: 48px;
  box-shadow: none;
  border: 0;
  font-size: 24px;
  padding: 0 0.5em;
  box-sizing: border-box;
}

.input-container .input::-webkit-input-placeholder {
  color: #E9E7DA;
}

.input-container .input:-ms-input-placeholder {
  color: #E9E7DA;
}

.input-container .input::placeholder {
  color: #E9E7DA;
}

.input-container .input:focus {
  outline: none;
}

.task {
  border-radius: 4px;
  padding: 64px 62px 48px 63px;
  box-sizing: border-box;
  background: #e9e7db;
}

@media (max-width: 768px) {
  .task {
    margin: 4px;
    padding: 29px;
  }
}

.task-container {
  list-style: none;
  padding: 32px 0;
}

.task-row {
  position: relative;
  margin: 15px 0;
  padding-right: 64px;
  font-size: 16px;
  line-height: 32px;
  overflow: hidden;
}

.task-row .label {
  float: left;
  display: block;
  margin-right: 32px;
  border: 1px solid #737B46;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #FFF;
  cursor: pointer;
}

.task-row .checkbox:checked + .label:after {
  content: "✔";
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 24px;
  color: #737B46;
}

.task-row .checkbox {
  display: none;
}

.task-row .content {
  color: #737B46;
  font-size: 16px;
  overflow: hidden;
}

.task-row .del {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 4px;
  width: 64px;
  height: 32px;
  background: #737B46;
  color: #FFF;
  font-size: 16px;
}

@media (max-width: 768px) {
  .task-row {
    border-bottom: 1px solid #737B46;
  }
  .task-row .label {
    float: none;
    margin-bottom: 16px;
  }
  .task-row .content {
    margin-bottom: 16px;
  }
  .task-row .del {
    position: relative;
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
