$pine: #373f27;
$board: #e9e7db;
$light-gary: #E9E7DA;
$drab: #737B46;

input, button {
  font-family: PingFangTC-Regular;
}

body {
  background-color: $pine;
  font-size: 16px;
  color: $pine;
  font-family: PingFangTC-Regular;
  // color: $drab;

  // @include resp (mobile) {
  //   margin: 16px 2%;
  // }

  // @include resp (tablet) {
  // }
}


.flex {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.container {
  margin: auto;
  width: 750px;
  box-sizing: border-box;

  // @include resp (mobile) {
  //   width: 100%;
  //   min-height: calc(100vh);
  //   padding: 64px 8.3% 0;
  // }

  // @include resp (tablet) {
  //   width: 750px;
  //   margin: 0 auto;
  //   padding: 32px 8px;
  // }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.date-container {
  // @include clearfix;
  margin-bottom: 19px;
  font-size: 24px;

  .date {
  }

  .month {
  }

  .year {
  }

  .day {
  }
}

.date {
  font-size: 48px;
  color: $drab;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.input-container {
  border: 2px solid #737B46;
  border-radius: 4px;
  width: 100%;
  height: 48px;

  .input {
    width: 100%;
    height: 48px;
    box-shadow: none;
    border: 0;
    font-size: 24px;
    padding: 0 0.5em;

    box-sizing: border-box;

    &::placeholder {
      color: $light-gary;
    }

    &:focus {
      outline: none;
    }
  }
}

.task {
  border-radius: 4px;
  padding: 64px 62px 48px 63px;
  box-sizing: border-box;
  background: $board;
  @media (max-width: 768px) {
    margin: 4px;
    padding: 29px;
  }
}

.task-container {
  list-style: none;
  padding: 32px 0;
}

.task-row {
  position: relative;
  margin: 15px 0;
  padding-right: 64px;
  font-size: 16px;
  line-height: 32px;
  overflow: hidden;
  .label {
    float: left;
    display: block;
    margin-right: 32px;
    border: 1px solid $drab;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    background: #FFF;
    cursor: pointer;
  }
  
  .checkbox:checked + .label:after {
    content: "✔";
    position: absolute;
    top: 2px;
    left: 8px;
    font-size: 24px;
    color: $drab;
  }

  .checkbox {
    display: none;
  }
  
  .content {
    // float: left;
    color: $drab;
    font-size: 16px;
    overflow: hidden;
  }

  .del {
    position: absolute;
    right: 0;
    top: 0;
    // float: right;
    border: 0;
    border-radius: 4px;
    width: 64px;
    height: 32px;
    background: $drab;
    color: #FFF;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .task-row {
    border-bottom: 1px solid $drab;
    .label {
      float: none;
      margin-bottom: 16px;
    }
    .content {
      margin-bottom: 16px;
    }
    .del {
      position: relative;
      margin-bottom: 16px;

    }
  }
}